@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

:root{
    --orange-color: #ff9425;
    --background-color: #010405;
    --white-color: #fff;
}

*{
    font-family: 'fruktur', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: var(--background-color);
}

section{
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    background-color: var(--background-color);
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #010405, transparent);
    z-index: 10000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;

}

.sec{
    background-color: var(--background-color);
    position: relative;
    padding: 100px 100px 20px 100px;
    text-align: center;
}

.espuki{
    align-items: center;
    margin-bottom: 7rem;
}

.sec h2{
    font-size: 5em;
    color: var(--orange-color);
    margin-bottom: 20px;
}

.sec p{
    color: var(--white-color);
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: consolas;
}

.footer-section {
    height: 30vh;
}

.footer {
    color: var(--orange-color)
}
